<%= form_for @participant do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
       <h2><%= t('activerecord.errors.template.header', :count => @participant.errors.size, :model => t('activerecord.models.singular.participant')) %></h2>
       <h4><%= t('activerecord.errors.template.body', :count => @participant.errors.size) %></h4>       
      <ul>
      <% @participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= Activity.active.name %></strong>
  </div>

  <%= hidden_field_tag('participant[activity_id]', Activity.active.id ) %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :street_number %><br>
    <%= f.text_field :street_number %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.text_field :date_of_birth, {class: 'datepicker category_listener'} %>
  </div>  

  <div class="field">
    <%= f.label :gender, 'V' %>
    <%= f.radio_button :gender, 'F', {class: 'category_listener'}%>
    <%= f.label :gender, 'M' %>
    <%= f.radio_button :gender, 'M', {class: 'category_listener'}%>
  </div>

  <div class="field">
    <%= label_tag 'Deelname afstand', nil, error_field(@participant, :distance) %><br>
    <%= select_tag 'participant[distance]', options_for_select(Category.all.map(&:distance).uniq.sort, @participant.distance), {include_blank: true, class: 'category_listener'}.merge(error_field(@participant, :distance)) %>
  </div>

  <div id="result_category">
    Senioren 50+ mannen
  </div>

  <br/>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


