<h1><%= 'Deelname succesvol geregistreerd' %></h1>

<h3><%= 'U bent succesvol geregistreerd voor de activiteit XX  categorie XXX.' %></h3>
<h3><%= 'Starttijd van categorie XXX is XXX.' %></h3>

<h3><%= 'Er wordt binnen enkele minuten een bevestigingsbericht verstuurd.' %></h3>

<h3><%= 'Bij de inschrijving ontvangt u uw startnummer.' %></h3>


<%= link_to t('helpers.navigate.new_object') + ' ' + t('activerecord.models.singular.participant') , new_participant_path %>