<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.participant.firstname') + ':' %></strong>
  <%= @participant.firstname %>
</p>

<p>
  <strong><%= t('activerecord.attributes.participant.lastname') + ':' %></strong>
  <%= @participant.lastname %>
</p>

<p>
  <strong><%= t('activerecord.attributes.participant.street') + ':' %></strong>
  <%= @participant.street %>
</p>

<p>
  <strong><%= t('activerecord.attributes.participant.street_number') + ':' %></strong>
  <%= @participant.street_number %>
</p>

<p>
  <strong><%= t('activerecord.attributes.participant.zipcode') + ':' %></strong>
  <%= @participant.zipcode %>
</p>

<p>
  <strong><%= t('activerecord.attributes.participant.city') + ':' %></strong>
  <%= @participant.city %>
</p>

<p>
  <strong><%= t('activerecord.attributes.participant.email') + ':' %></strong>
  <%= @participant.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.participant.phone') + ':' %></strong>
  <%= @participant.phone %>
</p>

<p>
  <strong><%= t('activerecord.attributes.participant.date_of_birth') + ':' %></strong>
  <%= @participant.date_of_birth %>
</p>

<p>
  <strong><%= t('activerecord.attributes.participant.gender') + ':' %></strong>
  <%= show_gender(@participant) %>
</p>

<%= link_to t('helpers.navigate.edit'), edit_participant_path(@participant) %> |
<%= link_to t('helpers.navigate.back'), participants_path %>
