<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
       <h2><%= t('activerecord.errors.template.header', :count => @category.errors.size, :model => t('activerecord.models.singular.category')) %></h2>
       <h4><%= t('activerecord.errors.template.body', :count => @category.errors.size) %></h4>       
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity %><br>
    <%= collection_select(:category, :activity_id, Activity.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :age_from %><br>
    <%= f.text_field :age_from %>
  </div>
  <div class="field">
    <%= f.label :age_to %><br>
    <%= f.text_field :age_to %>
  </div>
  <div class="field">
    <%= f.label :gender, 'V' %>
    <%= f.radio_button :gender, 'F' %>
    <%= f.label :gender, 'M' %>
    <%= f.radio_button :gender, 'M' %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
