<h1><%= t('helpers.select.list') + ' ' + t('activerecord.models.plural.category') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.activity.name') %></th>
      <th><%= t('activerecord.attributes.category.description') %></th>
      <th><%= t('activerecord.attributes.category.distance') %></th>
      <th><%= t('activerecord.attributes.category.age_from') %></th>
      <th><%= t('activerecord.attributes.category.age_to') %></th>
      <th><%= t('activerecord.attributes.category.gender') %></th>
      <th><%= t('activerecord.attributes.category.start_startnumber') %></th>
      <th><%= t('activerecord.attributes.category.start_time') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.activity.name %></td>
        <td><%= category.description %></td>
        <td><%= category.distance %></td>
        <td><%= category.age_from %></td>
        <td><%= category.age_to %></td>
        <td><%= show_gender(category) %></td>
        <td><%= category.start_startnumber %></td>
        <td><%= category.start_time %></td>
        <td><%= link_to t('helpers.navigate.show'), category %></td>
        <td><%= link_to t('helpers.navigate.edit'), edit_category_path(category) %></td>
        <td><%= link_to t('helpers.navigate.destroy'), category, method: :delete, data: { confirm: t('helpers.navigate.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.navigate.new_object') + ' ' + t('activerecord.models.singular.category'), new_category_path %>
