<p>
  <strong>Activity:</strong>
  <%= @category.activity.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.category.description') + ':' %></strong>
  <%= @category.description %>
</p>

<p>
  <strong><%= t('activerecord.attributes.category.distance') + ':' %></strong>
  <%= @category.distance %>
</p>

<p>
  <strong><%= t('activerecord.attributes.category.age_from') + ':' %></strong>
  <%= @category.age_from %>
</p>

<p>
  <strong><%= t('activerecord.attributes.category.age_to') + ':' %></strong>
  <%= @category.age_to %>
</p>

<p>
  <strong><%= t('activerecord.attributes.category.gender') + ':' %></strong>
  <%= show_gender(@category) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.category.start_startnumber') + ':' %></strong>
  <%= @category.start_startnumber %>
</p>

<p>
  <strong><%= t('activerecord.attributes.category.start_time') + ':' %></strong>
  <%= @category.start_time %>
</p>

<%= link_to t('helpers.navigate.edit'), edit_category_path(@category) %> |
<%= link_to t('helpers.navigate.back'), categories_path %>
