<h1><%= t('helpers.select.list') + ' ' + t('activerecord.models.plural.activity') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.activity.name') %></th>
      <th><%= t('activerecord.attributes.activity.description') %></th>
      <th><%= t('activerecord.attributes.activity.active') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.description %></td>
        <td><%= activity.active %></td>
        <td><%= link_to t('helpers.navigate.show'), activity %></td>
        <td><%= link_to t('helpers.navigate.edit'), edit_activity_path(activity) %></td>
        <td><%= link_to t('helpers.navigate.destroy'), activity, method: :delete, data: { confirm: t('helpers.navigate.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.navigate.new_object') + ' ' + t('activerecord.models.singular.activity'), new_activity_path %>
