<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.activity.name') + ':' %></strong>
  <%= @activity.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.activity.description') + ':' %></strong>
  <%= @activity.description %>
</p>

<p>
  <strong><%= t('activerecord.attributes.activity.start_date') + ':' %></strong>
  <%= @activity.start_date %>
</p>

<p>
  <strong><%= t('activerecord.attributes.activity.end_date') + ':' %></strong>
  <%= @activity.end_date %>
</p>

<p>
  <strong><%= t('activerecord.attributes.activity.active') + ':' %></strong>
  <%= @activity.active %>
</p>

<%= link_to t('helpers.navigate.edit'), edit_activity_path(@activity) %> |
<%= link_to t('helpers.navigate.back'), activities_path %>
